#footer
    padding: 20px 0
    border-top: 1px solid color-border
    color: color-default
    text-align: center
    .outer
        margin-bottom: 0
    a
        color: color-link
        text-decoration: none
        &:hover
            text-decoration: underline

#footer-info
    .copyright
        font-size: font-size-copyright
        font-weight: 600
    .powered-by
        font-size: font-size-powered-by